
.DialogBox
{
    position: relative;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    width: 400px;
    height: 200px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    padding:20px;
}

.Overlay
{
    position:absolute;
    background-color:  rgba(0,0,0,0.5);
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
}