.FieldRow
{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.GameField
{
    display: flex;
    flex-direction: column;
    aspect-ratio: 1 / 1;
    align-items: stretch;
}