
.Tile
{
    background-color: lightgray;
    border: 1px solid gray;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.Tile:hover
{
    background-color: gray;
    border: 1px solid lightgray;
}

.Revealed
{
    background-color: red;
}